.like {
  font-size: 2rem;
  margin-right: 2rem;
}

.like .heart:hover {
  -webkit-animation: sizeHeart 250ms linear;
          animation: sizeHeart 250ms linear;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes sizeHeart {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes sizeHeart {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.menu {
  opacity: 0;
  margin-top: 10%;
  -webkit-animation: apparition 1s ease-in both;
          animation: apparition 1s ease-in both;
  animation-direction: reverse;
}

.menu.plat:nth-child(0) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(5) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(6) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(7) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(8) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(9) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.menu.plat:nth-child(10) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

@-webkit-keyframes apparition {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes apparition {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=animation.css.map */