.like {
  font-size: 2rem;
  margin-right: 2rem;
}

.like .heart:hover {
  -webkit-animation: sizeHeart 250ms linear;
          animation: sizeHeart 250ms linear;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes sizeHeart {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes sizeHeart {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.menu {
  opacity: 1;
}

.menu .plat {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.menu .plat:nth-child(0) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.menu .plat:nth-child(1) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.menu .plat:nth-child(2) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu .plat:nth-child(3) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.menu .plat:nth-child(4) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.menu .plat:nth-child(5) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}

.menu .plat:nth-child(6) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.menu .plat:nth-child(7) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}

.menu .plat:nth-child(8) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.menu .plat:nth-child(9) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}

.menu .plat:nth-child(10) {
  -webkit-animation: apparition 2s ease-in both;
          animation: apparition 2s ease-in both;
  animation-direction: reverse;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

@-webkit-keyframes apparition {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes apparition {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=animation.css.map */