/*COLOR*/
/*FONTS*/
body {
  background-color: #dfdfdf;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.pageResto h1 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.2rem;
}

/*RESET BUTTON FOCUS*/
button:focus {
  outline: none;
}

/*HEADER*/
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.23);
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .return {
  margin-right: 4rem;
  font-size: 2rem;
}

.header .container .return a {
  text-decoration: none;
  color: black;
}

.header .container .logoContent {
  margin: auto;
}

.header .container .logoContent img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*HOME*/
main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6.3rem;
}

.container {
  max-width: 1440px;
  padding: 2rem;
  margin: 0 auto;
}

.localisation {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.localisation h6 {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

/*HERO*/
.hero {
  background: #e7e8e9;
  background: -webkit-gradient(linear, left bottom, left top, from(#e7e8e9), to(white));
  background: linear-gradient(0deg, #e7e8e9 0%, white 100%);
  text-align: center;
}

.container p {
  font-weight: 100;
}

.container .buttonGradient {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 50px;
  border-style: none;
  -webkit-box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
          box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}

.container .buttonGradient:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#a971e4), to(#fa8ad3));
  background: linear-gradient(0deg, #a971e4 0%, #fa8ad3 100%);
  -webkit-box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.47);
          box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.47);
}

.container .buttonGradient span {
  color: white;
  font-weight: 400;
  padding: 0 1rem;
  display: block;
  margin: 1rem 0;
}

/*FONCTIONNEMENT*/
.fonction {
  background-color: #f0f0f0;
  padding-bottom: 4rem;
}

.fonction .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonction .container .buttonWhite {
  position: relative;
  height: 7rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 50px;
  border-style: none;
  -webkit-box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
          box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
}

.fonction .container .buttonWhite .number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -0.7rem;
  color: white;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #9356dc;
  border-radius: 50%;
}

.fonction .container .buttonWhite .center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonction .container .buttonWhite .center i {
  margin-right: 2rem;
  font-size: 1.8rem;
  opacity: 0.6;
}

/*CHOIX RESTO*/
.cardResto {
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  height: 30vh;
  margin: 2rem 0;
  -webkit-box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
          box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
}

.cardResto:hover {
  opacity: 0.87;
  -webkit-box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.47);
          box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.47);
}

.cardResto a {
  text-decoration: none;
}

.cardResto a .imgContent img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
  background-color: white;
}

.cardResto a .newPop {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #99e2d0;
  color: rgba(3, 29, 0, 0.584);
}

.cardResto a .newPop[data-active="false"] {
  display: none;
}

.cardResto a .newPop p {
  margin: 0;
  font-weight: 800;
}

.cardResto a .bottomCart {
  background-color: white;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 25px 25px;
}

.cardResto a .description {
  margin-left: 1rem;
}

.cardResto a .description h3 {
  margin-bottom: 0.6rem;
}

.cardResto a .description .district {
  font-weight: 100;
  margin-top: 0;
}

/*FOOTER*/
.footer {
  background-color: #2d2d2d;
  color: white;
}

.footer .footerContent svg {
  margin-bottom: 1.5rem;
}

.footer .footerContent svg path {
  fill: white;
}

.footer .footerContent .footerLine {
  margin: 0.8rem 1rem 0.8rem 0;
}

.footer .footerContent .footerLine i {
  margin-right: 1rem;
}

.footer .footerContent .footerLine a {
  text-decoration: none;
  color: white;
}

.footer .footerContent .footerLine a:hover {
  border-bottom: 0.1rem solid white;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commandButton {
  margin: 1rem 2.5rem;
}

/*PAGE RESTAURANT*/
.pageResto {
  padding: 0;
}

.pageResto .nameHeader {
  position: relative;
}

.pageResto .nameHeader img {
  width: 100%;
  max-height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.pageResto .nameHeader .borderRound {
  width: 100%;
  height: 2rem;
  background-color: #dfdfdf;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 80px 80px;
  border-top-right-radius: 80px 80px;
}

.pageResto .nameResto .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pageResto .nameResto .container .like {
  font-size: 3rem;
}

.pageResto h1 {
  margin: 0;
  font-size: 2.4rem;
}

.pageResto h2 {
  font-weight: 100;
  margin-bottom: 1rem;
  margin-top: 4rem;
  text-transform: uppercase;
}

.pageResto .entree h2 {
  margin-top: 0;
}

.pageResto hr {
  width: 4rem;
  margin: 0;
  margin-bottom: 3rem;
  border: 0.2rem solid #99e2d0;
  background-color: #99e2d0;
}

.pageResto .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin: 1.5rem 0;
  padding: 0 0 0 1.5rem;
  border-radius: 25px;
  height: 6.5rem;
  -webkit-box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
          box-shadow: -1px 7px 22px -2px rgba(0, 0, 0, 0.27);
}

.pageResto .plat .prixAndAdd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageResto .plat .platInfo {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.pageResto .plat .platInfo .nomPlat {
  font-weight: 800;
  font-size: 1.5rem;
}

.pageResto .plat .platInfo .nomPlat p {
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageResto .plat .platInfo .ingredient p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageResto .plat .prix {
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-right: 2rem;
}

.pageResto .plat .addCart {
  float: right;
  width: 0;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  padding: 0 2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: none;
  -webkit-transition: all 5s;
  transition: all 5s;
}

.pageResto .plat .addCart .fas {
  color: white;
  font-size: 2.3rem;
}

.pageResto .plat:hover .addCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.pageResto .plat:hover .addCart .fas {
  -webkit-animation: fa-spin 0.5s 1 linear;
          animation: fa-spin 0.5s 1 linear;
}
/*# sourceMappingURL=main.css.map */