//ANIMATION + DESIGN COEUR

.like {
    font-size: 2rem;
    margin-right: 2rem;
    .heart {
        &:hover {
            animation: sizeHeart 250ms linear;
            font-weight: 900;
            background: linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@keyframes sizeHeart {
    from {
        width: 0%;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

//ANIMATION APPARITION DES PLATS

.menu {
    opacity: 1;
    .plat{
        animation-name: fadeIn;
        animation-timing-function	:  ease-in-out;
    }
}

// Boucle pour l'animation
@for $i from 0 through 10 {
    .menu .plat:nth-child(#{$i}) {
        animation: apparition 2s ease-in both;
        animation-direction: reverse;
        animation-delay: 250ms*$i;
    }
}

@keyframes apparition {
    from {
        opacity: 1;
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Rotation icon font awesome

.addCart:hover .fa-spin-hover:hover {
    animation: fa-spin 0.5s 1 linear;
  }
  
  @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    }
  
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg)
    }
  }
  
  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    }
  
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg)
    }
  }

// APPARITION DE DROITE A GAUCHE


  @-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
