//ANIMATION + DESIGN COEUR

.like {
    font-size: 2rem;
    margin-right: 2rem;
    .heart {
        &:hover {
            animation: sizeHeart 250ms linear;
            font-weight: 900;
            background: linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@keyframes sizeHeart {
    from {
        width: 0%;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

//ANIMATION APPARITION DES PLATS

.menu {
    opacity: 0;
    margin-top: 10%;
    animation: apparition 1s ease-in both;
    animation-direction: reverse;
}

// Boucle pour l'animation
@for $i from 0 through 10 {
    .menu.plat:nth-child(#{$i}) {
        animation-delay: 150ms*$i;
        animation: fadeIn 1s ease-in-out;
    }
}

@keyframes apparition {
    from {
        opacity: 1;
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
